.column-center {font-family: Arial, Helvetica, sans-serif; margin:0px auto; width:60%; overflow:hidden;}

.column-left {float:left; margin:0; width:20%;}

.column-right {float:right; margin:0; width:20%;}
